#home {
    background-color: rgba(225, 225, 225, 0.5);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 26px;
    text-align: center;
    border-radius: 5px;
    margin-top: 150px; 
}