<div class="col-md-6 col-md-offset-6 center" id="home">
  <div class="row">
      <h1>WELCOME!</h1>
  </div>
  <div class="row">
      What is Secret Santa?
      <br/>
      It’s a free online Secret Santa gift exchange organizer! Organize a Secret Santa party with friends, family or even co-workers. 
      Just sign up and create a group to connect them.
      <br/>
      Each year around Christmas time people all over the world exchange gifts.
      To keep things interesting though, you can randomly assign persons to each other to give a present to one another.
  </div>
</div>