#profile {
    margin-top: 50px;
}

.jumbotron {
    background-color: rgba(255,255,255, 0.5) !important;
}

.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
      
  }

  #modal-btn {
      background-color: rgb(99, 92, 92);
      color: white;
  }