html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
  }
  
  ol,ul {
    list-style: none;
  }
  
  blockquote,q {
    quotes: none;
  }
  
  blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  .clearfix {
    clear: both;
  }
  
  .container {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #a12712;
  }
    
  a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }
  
  
  
  .valign {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
  
  .vertical {
    word-wrap: break-word;
    width: 10px;
    display: inline-block;
    line-height: 18px;
  }
  
  .navbar {
    background-color: #444;
    position: fixed;
    left: 0;
    width: 50px;
    height: 100%;
    -webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
  }
  
  .navbar a.menu {
    display: block;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #ccc;
    font-size: 23px;
    line-height: 50px;
  }
  
  .navbar a.link {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 150px;
    background-color: #444;
  }
  
  .navbar a.link span.active,.navbar a.link span.hover {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0% 50% 0px;
    -webkit-transform-origin: 0% 50% 0px;
    transition: .2s;
    -webkit-transition: .2s;
    border-bottom: 1px solid #555;
  }
  
  .navbar a.link span.active {
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
    left: 0;
    background-color: #444;
  }
  
  .navbar a.link:hover span.active {
    background-color: #000;
    transform: matrix3d(0,0,1,0,0,1,0,0,-1,0,0,0,-50,0,0,1);
    -webkit-transform: matrix3d(0,0,1,0,0,1,0,0,-1,0,0,0,-50,0,0,1);
  }
  
  .navbar a.link span.active .vertical {
    color: #FF7567;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
  }
  
  .navbar a.link span.hover {
    transform: matrix3d(0,0,-1,0.00166,0,1,0,0,1,0,0,0,0,0,0,1);
    -webkit-transform: matrix3d(0,0,-1,0.00166,0,1,0,0,1,0,0,0,0,0,0,1);
    left: 100%;
    background-color: #000;
  }
  
  .navbar a.link:hover span.hover {
    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.00166,-50,0,0,1);
    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.00166,-50,0,0,1);
  }
  