<div class="container">
<div class="navbar">
  <a class="menu" href="#"><i class="icon-align-justify"></i></a>
  <a class="link" routerLink="/home">
    <span class="active"><span class="valign"><span class="vertical">HOME</span></span></span>
    <span class="hover"><span class="valign"><span class="vertical">HOME</span></span></span>
  </a>
  <a class="link" routerLink="/users">
    <span class="active"><span class="valign"><span class="vertical">USERS</span></span></span>
    <span class="hover"><span class="valign"><span class="vertical">USERS</span></span></span>
  </a>
  <a class="link" [routerLink]="[ 'users', username, 'requests' ]">
    <span class="active"><span class="valign"><span class="vertical">REQUESTS</span></span></span>
    <span class="hover"><span class="valign"><span class="vertical">REQUESTS</span></span></span>
  </a>

  <!-- <a class="link" [routerLink]="/signup">
    <span class="active"><span class="valign"><span class="vertical">SIGNUP</span></span></span>
    <span class="hover"><span class="valign"><span class="vertical">SIGNUP</span></span></span>
  </a>
  <a class="link" [routerLink]="[ 'users', username, 'requests' ]">
    <span class="active"><span class="valign"><span class="vertical">PROFILE</span></span></span>
    <span class="hover"><span class="valign"><span class="vertical">PROFILE</span></span></span>
  </a> -->
</div>
</div>