<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-5" id="signup-form">
      <section>
        <h1 class="entry-title"><span>Sign Up</span> </h1>
        <hr>
        <form class="form-horizontal" name="signup" id="signup" method="post">
          <div class="form-group">
            <label class="control-label col-sm-3">Email <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input #email type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter your Email" value="">
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-3">Username <span class="text-danger">*</span></label>
              <div class="col-md-5 col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input #username type="text" class="form-control" name="password" id="username" placeholder="Enter your Username here" value="">
                </div>
              </div>
            </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Password <span class="text-danger">*</span></label>
            <div class="col-md-5 col-sm-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input #password type="password" class="form-control" name="password" id="password" placeholder="Choose password (5-15 chars)" value="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Display name <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input #displayName type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Enter your Name here" value="">
            </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Address <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                  <input #address type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Enter your Address here" value="">
                </div>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-3">Age <span class="text-danger">*</span></label>
              <div class="col-md-8 col-sm-9">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <input #age type="number" class="form-control" name="mem_name" id="mem_name" placeholder="Enter your Age here" value="">
                  </div>
                </div>
            </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Contact No. <span class="text-danger">*</span></label>
            <div class="col-md-5 col-sm-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input #phoneNumber type="text" class="form-control" name="contactnum" id="contactnum" placeholder="Enter your Contact no." value="">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Interests <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
              <textarea #interests cols="30" rows="6"type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Tell us about your hobbies and interests..." value=""></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-10">
              <input name="Submit" type="submit" value="Sign Up" (click)="signup(username.value, email.value, password.value, displayName.value, address.value, age.value, phoneNumber.value, interests.value)" class="btn btn-primary">
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>