<div class="col-md-1 col-md-offset-8">
<div class="wrapper">
    <div class="container">
        <div class="stencil">
            <div class="line">
                <div class="line"></div>
            </div>
        </div>
        <div class="border-triangle"></div>
        <div class="content-triangle"></div>
        <div class="enter-triangle-one"></div>
        <div class="enter-triangle-two"></div>
        <form onsubmit="return false" method="post" id="form">
            <div class="title">
                <label>LOG INTO</label>
                <label>SYSTEM</label>
            </div>
            <div class="input-inform">
                <input #usernameInput type="text" name="name" id="name" placeholder="Username..." />
                <input #passwordInput type="password" name="password" id="password" placeholder="Password..." />
            </div>
            <div class="enter">
                <label for="enter"></label>
                <input type="submit" name="submit" value="ENTER" id="enter" (click)="login(usernameInput.value, passwordInput.value)"/>
            </div>
        </form>    
    </div>
</div>
</div>